
    <div class="status-message">
        @ViewData["Error"]
    </div>
    <form class="input-form" action="contact" method="post">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="First Name" name="firstName" aria-describedby="basic-addon1">
            <input type="text" class="form-control" placeholder="Last Name" name="lastName" aria-describedby="basic-addon1">
            <input type="text" class="form-control" placeholder="Phone" name="phone" aria-describedby="basic-addon1">
            <input type="email" class="form-control" placeholder="Email" name="email" aria-describedby="basic-addon1">
            <input type="text" class="form-control" placeholder="Country" name="country" aria-describedby="basic-addon1">
            <input type="text" class="form-control" placeholder="City" name="city" aria-describedby="basic-addon1">
            <input type="text" class="form-control" placeholder="Street" name="Street" aria-describedby="basic-addon1">
            <input type="text" class="form-control" placeholder="Zip" name="Zip" aria-describedby="basic-addon1">
            <br />
            <button class="btn btn-lg btn-secondary">Submit</button>
        </div>
    </form>
