
    <div class="status-message">
        @ViewData["Status"]
    </div>
    <div class="nav-buttons">
        <a href="/contact" class="btn btn-lg btn-secondary">Add contact</a>
        &nbsp;&nbsp;&nbsp;
        <a href="/product" class="btn btn-lg btn-secondary">Update product</a>
        &nbsp;&nbsp;&nbsp;
        <a href="/invoice" class="btn btn-lg btn-secondary">Create invoice</a>
    </div>