
<form class="input-form" action="product" method="post">
    <div class="form-group">
        @ViewData["Error"]
        <input type="text" class="form-control" placeholder="Product ID" name="productId" aria-describedby="basic-addon1">
        <input type="text" class="form-control" placeholder="Stock amount" name="stockAmount" aria-describedby="basic-addon1">
        <br />
        <button class="btn btn-lg btn-secondary">Submit</button>
    </div>
</form>